* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;

}

a {
  text-decoration: none !important;
  color: black !important;
}

ul {
  list-style: none !important;
}

.container>span {
  color: white;
  padding-left: 1rem;
}